* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive sans-serif;
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.header {
  display: flex;
  background-color: #444;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.logo-image {
  width: 50px;
  border-radius: 50%;
}
.nav-ul {
  display: flex;
}
li {
  list-style: none;
  font-size: 3rem;
}
a:hover {
  color: aqua;
}
a {
  color: #fff;
  padding: 0 10px;
}
main {
  display: flex;
}
.first,
.second {
  width: 50%;
  flex: 1;
  flex-basis: 100%;
}
.second {
  position: relative;
}
.h3__header_form {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  left: 30px;
}
.h3__header_cohort {
  position: absolute;
  left: 50%;
  bottom: 15px;
  font-size: 2rem;
  color: #fff;
}

.form {
  display: flex;
}
.area1,
.area2 {
  padding: 1rem;
  width: 50%;
  color: #fff;
}
.area1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: blue;
}
.area2 {
  background-color: rebeccapurple;
}
.firstname,
.lastname,
.email,
.password,
.confirm-password {
  padding: 0 1rem;
  font-size: 20px;
  text-align: justify;
}
label {
  font-weight: bold;
  font-size: 1.5rem;
}
.email {
  padding-bottom: 1rem;
}
input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-radius: 8px;
}
.radio {
  width: 20px;
  height: 20px;
  font-size: 10px;
}
option {
  margin-left: 1rem;
}
select {
  font-size: 20px;
}
.textarea {
  display: flex;
  flex-direction: column;
}
.textbox {
  border: 5px solid darkgray;
  border-radius: 10px;
  font-size: 30px;
  line-height: 1;
}
textarea::placeholder {
  font-size: 20px;
}
.submit-btn {
  font-size: 2rem;
  margin-top: 1rem;
  padding: 0.5rem 0;
  width: 30%;
  background-color: gray;
  align-self: center;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.male {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
footer {
  text-align: center;
  background-color: #444;
  padding: 10px;
  margin-top: auto;
  color: #fff;
  font-size: 20px;
}
